@{
    ViewData["Title"] = "Data";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div id="app">
    <a asp-area="" asp-controller="DataModels" asp-action="Index" class="navbar-brand">Movie App</a>
</div>

<p>Use this area to provide additional information.</p>
